.bk-img {
    background-image: url(imgs/img_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cont-1 {
    height: 50em;
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 120px;
}

li,
a,
button {
    font-family: 'roboto';
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.cont-1 h3 {
    color: #fff;
    padding-top: 10rem;
    padding-left: 6rem;
    line-height: 2rem;
}

.ord-but {
    padding-top: 10rem;
    padding-left: 6rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

li {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 50px;
    display: flex;
    float: right;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

nav {
    width: 100%;
}

button {
    background-color: #F19201;
    border: none;
    padding: 10px;
}

.orng {
    color: #F19201;
}

.cont-2 {
    height: 50em;
    padding: 1.5rem;
    text-align: center;
    background-color: #E1DFDF;
}

.flexbox-container {
    display: flex;
}

.flexbox-1 {
    width: 25%;
    height: 400px;
    margin-left: 150px;
    margin-top: 50px;
    background-color: white;

}

.flexbox-2 {
    width: 25%;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    background-color: white;
}

.flexbox-3 {
    width: 25%;
    margin-right: 80px;
    margin-top: 50px;
    background-color: white;
}

.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 15px;
    margin-left: 200px;
    margin-top: 25px;
    margin-bottom: 55px;
    background: #F19201;
    color: #ffff;
    text-align: center;
    font: 32px 'Roboto';
}


.cont-3 {
    display: flex;
}

.revs {
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;

}

.underline {
    --position: center bottom;
    --width: 50px;
    --color: white;
    --height: 3px;
    background: linear-gradient(var(--color), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
}

.cont-3>.revs>h2 {
    padding-top: 200px;
}

.cont-3>.revs>h3 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.cont-3>.revs>p {
    line-height: 30px;
}

.cont-3>.revs>.bold {
    font-size: 20px;
}

.align {
    text-align: center;
}

.cont-4 {
    width: 100%;
    height: 80em;
    padding: 1.5rem;
    background-color: #E5E5E5;
}

.grid-1 {
    width: 750px;
    height: 400px;
    max-width: 98rem;
    margin-left: 30px;
    margin-top: 50px;
    padding: 1rem 3rem 1rem 1rem;
    display: flex;
    background-color: white;

}

.grid-1_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid-1_title {
    font-size: 1.5rem;
    margin-left: 3rem;
}

.grid-1_txt {
    display: inline-block;
    font-style: italic;
    margin-left: 3rem;
}

.grid_cta {
    display: inline-block;
    padding: 1.5rem 3rem;
}

.ksh-but {
    padding-left: 3rem;
    font-size: 20px;
    font-weight: bolder;
}


.grid-2 {
    width: 750px;
    height: 400px;
    max-width: 98rem;
    padding: 1rem 3rem 1rem 1rem;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    background-color: white;
}


.grid-2_title {
    font-size: 1.5rem;
    margin-left: 3rem;
}


.grid-2_txt {
    display: inline-block;
    font-style: italic;
    margin-left: 3rem;
}

.grid-2_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.d_grid {
    display: flex;
    float: left;
}

.d-grid {
    display: flex;
    float: left;
}

.grid-3 {
    width: 750px;
    height: 400px;
    max-width: 98rem;
    padding: 1rem 3rem 1rem 1rem;
    margin-left: 30px;
    margin-top: 100px;
    display: flex;
    background-color: white;

}


.grid-3_title {
    font-size: 1.5rem;
    margin-left: 3rem;
}


.grid-3_txt {
    display: inline-block;
    font-style: italic;
    margin-left: 3rem;
}

.grid-3_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid-4 {
    width: 750px;
    height: 400px;
    max-width: 98rem;
    margin-top: 100px;
    margin-left: 100px;
    padding: 1rem 3rem 1rem 1rem;
    display: flex;
    background-color: white;
}


.grid-4_title {
    font-size: 1.5rem;
    margin-left: 3rem;
}


.grid-4_txt {
    display: inline-block;
    font-style: italic;
    margin-left: 3rem;
}

.grid-4_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.cont-5 {
    width: 100%;
    height: 45em;
    padding: 1.5rem;
    background-image: url(imgs/img_8.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.cont-5>h3 {
    padding-top: 200px;
    font-weight: 500;
    font-size: 26px;
}

.cont-5 h2 {
    font-weight: 600;
    padding: 60px;
}

.bn {
    box-sizing: border-box;
    width: 250px;
    margin-left: 860px;
    border: 3px solid white;
}